<mat-toolbar fullscreen>
    <img id="qryptic-nav-logo" src="/assets/logo/qryptic_logo_symbol_text_horizontal.png" alt="Qryptic Logo">

    <span class="nav-spacer"></span>
    
    <button mat-button>Cryptocurrencies</button>
    <button mat-button>Exchanges</button>
    <button mat-button>Wallets</button>
    <button mat-button>News</button>
    <button mat-button>Log In</button>
    <button mat-button>Sign Up</button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>