<app-pages-index-banner></app-pages-index-banner>

<div class="container-index">
    
    <div class="top-cryptocurrencies">
        <h2>Featured Cryptocurrencies</h2>
        <mat-grid-list [cols]="breakpoint"
                       rowHeight="{{ rowHeight }}"
                       [gutterSize]="'20px'"
                       class="index-grid-list"
                       (window:resize)="onResize($event)">
            <mat-grid-tile class="index-tile" *ngFor="let i of [1,2,3,4]">
                
                <div class="tile-content">
                    
                    <div class="col1">
                        <div class="tile-logo">
                            <img src="/assets/cryptocurrencies/stakecubecoin.png"/>
                        </div>
                    </div>
                    
                    <div class="col2">
                        <div class="tile-name">StakeCubeCoin</div>
                        <div class="tile-ticker">SCC</div>
                    </div>

                    <div class="tile-price">
                        xx
                    </div>
                        <div class="tile-more-info">
                            <span>4.2%</span>
                            <fa-icon [ngClass]="['caret-up']" [icon]="faCaretUp"></fa-icon>
                        </div>
                    
                </div>
                
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    
    <div class="top-exchanges">
        <h2>Top Cryptocurrencies by Market Cap</h2>
        <mat-grid-list [cols]="breakpoint"
                       rowHeight="{{ rowHeight }}"
                       [gutterSize]="'20px'"
                       class="index-grid-list"
                       (window:resize)="onResize($event)">
            <mat-grid-tile class="index-tile" *ngFor="let c of topCryptocurrencies">
                
                <div class="tile-content">
                    
                    <div class="col1">
                        <div class="tile-logo">
                            <img src="{{ c.image }}"/>
                        </div>
                    </div>
                    
                    <div class="col2">
                        <div class="tile-name">{{ c.name }}</div>
                        <div class="tile-ticker">{{ c.symbol | uppercase }}</div>
                    </div>

                    <div class="tile-price">${{ c.symbol }}</div>
                        <div class="tile-more-info">
                            <span>4.2%</span>
                            <fa-icon [ngClass]="['caret-down']" [icon]="faCaretDown"></fa-icon>
                        </div>
                    
                </div>

            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="top-exchanges">
        <h2>Top Exchanges by Volume</h2>
        <mat-grid-list [cols]="breakpoint"
                       rowHeight="{{ rowHeight }}"
                       [gutterSize]="'20px'"
                       class="index-grid-list"
                       (window:resize)="onResize($event)">
            <mat-grid-tile class="index-tile" *ngFor="let e of topExchanges">
                
                <div class="tile-content">
                    
                    <div class="col1">
                        <div class="tile-logo">
                            <img src="{{ e.image }}"/>
                        </div>
                    </div>
                    
                    <div class="col2">
                        <div class="tile-name">{{ e.name }}</div>
                        <div class="tile-ticker">{{ e.trust_score }}</div>
                    </div>

                    <div class="tile-price">$1000.05</div>
                        <div class="tile-more-info">
                            <span>4.2%</span>
                            <fa-icon [ngClass]="['caret-up']" [icon]="faCaretUp"></fa-icon>
                        </div>
                    
                </div>

            </mat-grid-tile>
        </mat-grid-list>
    </div>
    
</div>
