/* You can add global styles to this file, and also import other style files */
@import "variables";

html { height: 100%; }

body {  
  font: 100% $font-stack;
  color: $highlight-color;
  background-color: $normal-color;
  margin: 0;
}

.container {
  margin: 0 auto;
}

.container-page {
  margin: 0 auto;
  max-width: 1200px;
}