// FONTS
$font-stack: Helvetica, sans-serif;

// MAIN COLORS
$primary-color: #817DD8;
$secondary-color: #4C5464;
$text-color: rgb(231, 231, 231);

// DARK COLORS
$bg-black-color: #0A0D0D;
$black-dimmed: #212121;